<div class="row">
  <div class="col-sm-4">
    <h2>{{bec.title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a ng-show="bec.book.id" ng-href="/book/{{bec.book.id}}">Back to {{bec.book.title}}</a>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-sm-4">
    <form name="EditForm">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" ng-model="bec.book.title" />
      </div>
      <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" class="form-control" ng-model="bec.book.authors.name" 
          uib-typeahead="a.name for a in bec.getAuthors($viewValue)" typeahead-on-select="bec.authorSelect($item)">
        <a href="/author/new">Create Author</a>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="textarea" name="description" class="form-control" ng-model="bec.book.description" />
      </div>
      <button type="button" class="btn btn-default" ng-click="bec.save()">Save</button>
    </form>
  </div>
</div>
